*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #f1f6f9;
}
.wrapper
{
    width: 100%;
    text-align: center;
    
}

.wrapper h1
{
    margin-top: 2rem;
    font-size: 3.5rem;
    color: #14274e;
}
.wrapper .image-icon
{
    width: 20%;
    
}
.wrapper p 
{
    font-size: 1.5rem;
    color: #394867;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}
.wrapper #toDoList
{
    width: 80%;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 6rem;
    margin-bottom: 1.5rem;
}

.wrapper #taskList
{
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.5;    
}
.wrapper input[type=checkbox]
{
  transform: scale(2);
  margin-right: 1rem;
}
.wrapper button
{
    width: 25%;
    height: 2rem;
    margin-right: 2rem;
    margin-left: 1rem;
}

.wrapper #addBtn
{
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
}
